html {
  min-height: 100%;
}

body {
  font-family: 'Commissioner', sans-serif;
  min-height: 100%;
  position: relative;
}

.hide {
  display: none !important;
}

.backdrop {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, .25);
  z-index: 1;
}

/* Header */
header {
  width: 100%;
  height: 32vh;
  background-image: url(../images/image-hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 1rem;
  position: relative;
}

#logo {
  width: auto;
  height: 20px;
  position: absolute;
  top: 10%;
  left: 6%;
  z-index: 2;
}

#menu-hamburger {
  width: 16px;
  height: auto;
  position: absolute;
  top: 10%;
  right: 6%;
}

#menu-close {
  width: 15px;
  height: auto;
  position: absolute;
  top: 10%;
  right: 6%;
  z-index: 2;
}

.menu-list {
  width: 90%;
  position: absolute;
  top: 29%;
  left: 5%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  z-index: 2;
}

.menu-list > li {
  padding: 1.6rem;
  font-weight: 500;
}

.menu-list > li {
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

.menu-list > li:last-of-type {
  border-bottom: none;
}
/* Main */
main {
  position: relative;
}

/* Div: .product-intro */
.product-intro {
  width: 90%;
  padding: 3rem 1rem 2rem 1rem;
  margin: -15% auto 1rem auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  text-align: center;
  position: relative;
}

.product-intro > h2 {
  width: 80%;
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.25rem;
}

#product-logo {
  width: 56px;
  height: auto;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
}

.product-intro > h2, .product-intro > div {
  margin-bottom: 1rem;
}

.product-intro > ul {
  display: flex;
  justify-content: space-between;
}

.product-intro li {
  height: 56px;
}

#btn-cta {
  padding: 1.15rem 2.5rem;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  background-color: hsl(176, 50%, 47%);
  border-radius: 500px;
}

#btn-cta:hover, .product-confirm:hover, .pledge-submit:hover, #modal-success > input:hover {
  background-color: hsl(176, 72%, 28%);
}

#btn-bookmark {
  width: 56px;
  height: 56px;
}

#btn-cta, #btn-bookmark {
  cursor: pointer;
}

/* Div: .project-progress */
.project-progress {
  width: 90%;
  margin: 0 auto 1rem auto;
  padding: 2rem 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  text-align: center;
}

.progress-list strong {
  display: block;
}

.progress-list > li {
  position: relative;
  line-height: 1.5rem;
}

.progress-list > li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -40%;
  transform: translateX(-50%);
  width: 25%;
  border: 1px solid hsl(0, 0%, 90%);
}

.progress-list > li:last-of-type::after {
  content: none;
}

.progress-list > li {
  margin-bottom: 2rem;
}

.progress-meter {
  width: 90%;
  height: 1rem;
  background-color: hsl(0, 0%, 90%);
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
}

.progress {
  width: 80.9%;
  height: 1rem;
  background-color: hsl(176, 50%, 47%);
  position: absolute;
  left: 0;
  border-radius: 10px;
}

/* Div: Project-about */
.project-about {
  width: 90%;
  margin: 0 auto 1rem auto;
  padding: 2rem 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.project-about > h2 {
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.project-about > div {
  margin-bottom: 1.5rem;
  line-height: 1.25rem;
}

.product {
  margin-bottom: 1rem;
  border: 1px solid hsla(0, 0%, 0%, .25);
  border-radius: 10px;
  /*padding: 1rem;*/
}

.product-name {
  margin-bottom: .25rem;
  font-weight: 700;
  width: 90%;
  margin: 1.5rem auto .25rem auto;
}

.product-amount {
  margin-bottom: 1.5rem;
  color: hsl(176, 50%, 47%);
  font-weight: 500;
  width: 90%;
  margin: 0 auto 1.5rem auto;
}

.product-description {
  margin-bottom: 1.5rem;
  width: 90%;
  margin: 0 auto 1.5rem auto;
}

.product-availability {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto 1.5rem auto;
}

.product-availability > strong {
  font-size: 1.5rem;
  padding-right: .5rem;
}

.product-confirm {
  background-color: hsl(176, 50%, 47%);
  padding: 1rem 2rem;
  border-radius: 500px;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  cursor: pointer;
  margin: 0 0 1.5rem 1rem;
}

.product-empty > .product-name {
  color: hsla(0, 0%, 0%, .5);
}

.product-empty > .product-amount {
  color: hsla(176, 50%, 47%, .5);
}

.product-empty > .product-description {
  color: hsla(0, 0%, 0%, .5);
}

.product-empty > .product-availability {
  color: hsla(0, 0%, 0%, .5);
}

.product-empty > .product-confirm {
  background-color:hsla(0, 0%, 0%, .25);
  cursor: auto;
}

/* Project Modal */
.project-modal {
  width: 90%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  position: absolute;
  top: -6%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.project-modal > h2, .project-modal > div, .project-modal > ul {
  width: 90%;
  margin: 0 auto;
}

#modal-header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem auto;
}

#modal-header > h2 {
  font-size: 1.15rem;
  font-weight: 700;
}


#modal-close > path:hover {
  opacity: 1;
  cursor: pointer;
}

.project-modal > div {
  margin-bottom: 1rem;
}

.project-modal-list-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 90%;
  margin: 1.5rem auto;
}

.product-checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid hsla(0, 0%, 0%, .25);
  margin-right: .75rem;
}

.project-modal-list-header .product-name {
  margin: 0;
}

.project-modal-list-header .product-name:hover {
  color: hsl(176, 50%, 47%);
  cursor: pointer;
}

.project-modal-list-header .product-name:hover + .product-amount {
  font-weight: 700;
}

.project-modal-list-header div {
  width: 100%;
  margin: 0;
}

.selected-pledge {
  border-top: 1px solid hsla(0, 0%, 0%, .25);
  width: 100%;
}

.selected-pledge > h4 {
  margin: 1.5rem auto;
  text-align: center;
}

.selected-pledge > div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 1.5rem auto;
}

.pledge-amount-container {
  width: 40%;
  display: flex;
  position: relative;
}

.pledge-amount-container > span {
  color: hsla(0, 0%, 0%, .25);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
}

.pledge-amount {
  width: 100%;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid hsla(0, 0%, 0%, .25);
  border-radius: 500px;
}

.pledge-amount:focus {
  outline-color: hsl(176, 50%, 47%);
  caret-color: hsl(176, 50%, 47%);
}

.pledge-submit {
  width: 50%;
  padding: 1rem 2rem;
  background-color: hsl(176, 50%, 47%);
  color: hsl(0, 0%, 100%);
  border-radius: 500px;
  text-align: center;
  cursor: pointer;
}

.product-empty .product-name {
  color: hsla(0, 0%, 0%, .5);
}

.product-empty .product-amount {
  color: hsla(176, 50%, 47%, .5);
}

.product-empty > .selected-pledge {
  color: hsla(0, 0%, 0%, .5);
}

.product-empty .pledge-amount {
  font-weight:400;
  color: hsla(0, 0%, 0%, .5);
}

.product-empty .pledge-submit {
  background-color:hsla(0, 0%, 0%, .25);
  border-color: hsla(0, 0%, 0%, .25);
  cursor: auto;
}

.selected {
  border-color: hsl(176, 50%, 47%);
  border-width: 3px;
}

.product-checkbox-container {
  position: relative;
}

.selected .product-checkbox-container::after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-60%);
  border-radius: 50%;
  background-color: hsl(176, 50%, 47%);
  margin-right: .75rem;
}

.selected .product-amount {
  font-weight: 700;
}

/* Div: Modal-success */
#modal-success {
  width: 90%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#icon-checkmark {
  width: 64px;
  height: 64px;
  margin-top: 2rem;
}

#modal-success > h2 {
  font-weight: 700;
  font-size: 1.15rem;
  margin: 1.5rem 0;
}

#modal-success > div {
  margin-bottom: 1.5rem;
}

#modal-success > input {
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  background-color: hsl(176, 50%, 47%);
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  border-radius: 500px;
}